/* Responsive */
@media screen and (min-width: 992px) {
    .hide-on-destop {
        display: none;
    }
}

/* Table */
@media screen and (min-width: 740px) and (max-width: 1023px) {
    .hide-on-table {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .home-mobile {
        width: 100vw;
        height: 100vh;
        background-color: var(--body-color);
        color: var(--text-color);
    }

    .home-mobile__bottom {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    .home-mobile__bottom-nav {
        display: flex;
        justify-content: space-between;
        background-color: #1c2536cc;
        backdrop-filter: blur(10px);
        box-shadow: 4px 0 0 #0a0a0a4d;
        border-top: 1px solid var(--text-color-light);
    }

    .home-mobile__bottom-nav-item {
        text-align: center;
        padding: 0 26px;
    }

    .home-mobile__bottom-nav-icon {
        font-size: 24px;
    }

    .home-mobile__bottom-nav-sub {
        font-size: 12px;
    }

    .home-mobile__bottom-song {
        display: flex;
        align-items: center;
        background-color: #1c2536cc;
        backdrop-filter: blur(10px);
        padding: 10px 20px;
        column-gap: 20px;
        box-shadow: 4px 0 0 var(--text-color-light);
    }

    .home-mobile__bottom-song-thumbnail {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .home-mobile__bottom-song-control {
        display: flex;
        column-gap: 20px;
    }

    .home-mobile__bottom-song-info {
        flex: 1;
        display: flex;
        column-gap: 12px;
        align-items: center;
        cursor: pointer;
    }

    .home-mobile__bottom-song-desc {
        flex: 1;
    }

    .home-mobile__bottom-song-info-name {
        height: 20px;
        line-height: 20px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .home-mobile__bottom-song-info-artist {
        font-size: 13px;
    }

    .home-mobile__bottom-song-control-icon {
        font-size: 24px;
    }

    /* Listen Page */
    .listen-mobile {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: var(--body-color);
        color: var(--text-color);
        z-index: 1;
        transition: all .3s ease;
    }

    .listen-mobile.hide {
        transform: translateY(100%);
    }

    .listen-mobile__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
    }

    .listen-mobile__header-back,
    .listen-mobile__header-more {
        padding: 0 10px;
        cursor: pointer;
    }

    .listen-mobile__header-icon {
        font-size: 24px;
    }

    .listen-mobile__header-more-bottom-sheet-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
        display: none;
        cursor: default;
    }

    .listen-mobile__header-more-bottom-sheet-overlay.show {
        display: block;
    }

    .listen-mobile__header-more-bottom-sheet-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--text-color);
        color: #333;
        border-radius: 4px;
        overflow: hidden;
        box-shadow: 4px 0 0 var(--text-color-light);
        z-index: 2;
        transform: translateY(100%);
        transition: all .3s ease;
        cursor: default;
    }

    .listen-mobile__header-more-bottom-sheet-container.show {
        transform: translateY(0);
    }

    .listen-mobile__header-more-bottom-sheet-header {
        display: flex;
        justify-content: space-between;
        padding: 20px 0;
        background-color: #f8f8fa;
    } 

    .listen-mobile__header-more-bottom-sheet-header-item {
        flex: 1;
        text-align: center;
        cursor: pointer;
    }

    .listen-mobile__header-more-bottom-sheet-header-icon {
        font-size: 24px;
    }

    .listen-mobile__header-more-bottom-sheet-song {
        padding: 20px 0;
        margin: 0 20px;
        border-bottom: 1px solid #dbdbdb;
        display: flex;
        align-items: center;
    }

    .listen-mobile__header-more-bottom-sheet-song-img {
        height: 50px;
        width: 50px;
        border-radius: 4px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .listen-mobile__header-more-bottom-sheet-song-desc {
        margin-left: 16px;
    }

    .listen-mobile__header-more-bottom-sheet-song-name {
        font-weight: bold;
    }

    .listen-mobile__header-more-bottom-sheet-song-artist {
        font-size: 13px;
    }

    .listen-mobile__header-more-bottom-sheet-song-share {
        margin-left: auto;
        color: #333;
        padding-left: 10px;
    }

    .listen-mobile__header-more-bottom-sheet-song-share-icon,
    .listen-mobile__header-more-bottom-sheet-option-icon {
        font-size: 24px;
    }

    .listen-mobile__header-more-bottom-sheet-options {
        padding: 0px 20px 30px;
        margin-top: 10px;
        height: 300px;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .listen-mobile__header-more-bottom-sheet-options::-webkit-scrollbar {
        display: none;
    }

    .listen-mobile__header-more-bottom-sheet-option {
        display: flex;
        column-gap: 20px;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;
    }

    .listen-mobile__header-title {
        text-align: center;
    }

    .listen-mobile__header-title-name {
        font-weight: bold;
    }

    .listen-mobile__thumbnail {
        margin: 30px auto;
        display: flex;
        justify-content: center;
    }

    .listen-mobile__thumbnail-img {
        width: 70%;
        border-radius: 50%;
    }

    .listen-mobile__info {
        display: flex;
        justify-content: space-between;
        padding: 0 16px;
        align-items: center;
    }

    .listen-mobile__info-favorite,
    .listen-mobile__info-share {
        padding: 0 10px;
    }

    .listen-mobile__info-icon {
        font-size: 24px;
    }

    .listen-mobile__info-song {
        text-align: center;
    }

    .listen-mobile__info-song-artist {
        font-size: 13px;
    }

    .listen-mobile__ware {
        margin-top: 30px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .listen-mobile__stroke {
        background-color: #f1f1f1;
        height: 150%;
        width: 10px;
        border-radius: 50px;
        margin: 0 5px;
    }

    .listen-mobile__stroke.active {
        animation: ware 1.4s linear infinite;
    }

    @keyframes ware {
        50% {
            height: 20%;
            background-color: #4286f4;
        }

        100% {
            background-color: #4286f4;
        }
    }

    .listen-mobile__stroke:nth-child(1) {
        height: 50%;
        animation-delay: 0s;
    }

    .listen-mobile__stroke:nth-child(2) {
        height: 80%;
        animation-delay: .3s;
    }

    .listen-mobile__stroke:nth-child(3) {
        animation-delay: .6s;
    }

    .listen-mobile__stroke:nth-child(4) {
        height: 90%;
        animation-delay: .9s;
    }

    .listen-mobile__stroke:nth-child(5) {
        animation-delay: .6s;
    }

    .listen-mobile__stroke:nth-child(6) {
        height: 80%;
        animation-delay: .3s;
    }

    .listen-mobile__stroke:nth-child(7) {
        height: 50%;
        animation-delay: 0s;
    }

    .listen-mobile__seekbar {
        padding: 20px 26px;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        justify-content: center;
    }

    .listen-mobile__seekbar-area {
        position: relative;
        height: 2px;
        width: 100%;
        border-radius: 50px;
        background-color: rgba(105, 105, 170, .1);
        cursor: pointer;
    }

    .listen-mobile__seekbar-bar {
        position: relative;
        height: inherit;
        width: 0%;
        border-radius: inherit;
        background-color: #36e2ec;
    }

    .listen-mobile__seekbar-bar::before {
        position: absolute;
        content: '';
        height: 5px;
        width: 5px;
        border-radius: inherit;
        top: 50%;
        right: -5px;
        transform: translateY(-50%);
        background-color: inherit;
        opacity: 1;
        transition: opacity .2s ease;
    }

    .listen-mobile__seekbar-bar::after {
        position: absolute;
        content: '';
        width: 15px;
        height: 15px;
        border: 1px solid #36e2ec;
        border-radius: inherit;
        right: -11px;
        top: -7px;
        box-shadow: inset 0 0 3px #36e2ec;
    }

    .listen-mobile__seekbar-time {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
    }

    .listen-mobile__control-icon {
        font-size: 24px;
    }

    .listen-mobile__control-play-pause {
        font-size: 30px;
    }

    .listen-mobile__control {
        padding: 0 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .listen-mobile__control-loop,
    .listen-mobile__control-prev,
    .listen-mobile__control-play-pause,
    .listen-mobile__control-next,
    .listen-mobile__control-repeat-one {
        padding: 0 10px;
        display: flex;
        align-items: center;
    }

    .listen-mobile__control-play-pause {
        height: 50px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid var(--text-color);
    }

    /* Listen Song */
    .listen-song__bottom {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 16px;
    }

    .listen-song__bottom-icon {
        font-size: 24px;
    }

    .listen-song__bottom-playlist,
    .listen-song__bottom-download,
    .listen-song__bottom-add-playlist,
    .listen-song__bottom-chat {
        padding: 0 10px;
        display: flex;
        align-items: center;
        cursor: pointer;
    }

    .listen-song__bottom-add-quality {
        padding: 0 4px;
        border-radius: 4px;
        background-color: var(--text-color-light);
        font-size: 12px;
        font-weight: bold;
    }

    .listen-song__bottom-playlist.active {
        background-color: var(--text-color-light);
        border-radius: 4px;
    }

    .listen-song__bottom-chat-bottom-sheet-overlay,
    .listen-song__bottom-add-playlist-bottom-sheet-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, .4);
        display: none;
    }

    .listen-song__bottom-chat-bottom-sheet-overlay.show {
        display: block;
    }
    
    .listen-song__bottom-chat-bottom-sheet-container,
    .listen-song__bottom-add-playlist-bottom-sheet-container {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--text-color);
        box-shadow: 4px 0 0 var(--text-color-light);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        color: #333;
        cursor: default;
        transform: translateY(100%);
        transition: all .3s ease;
    }

    .listen-song__bottom-chat-bottom-sheet-container.show {
        transform: translateY(0);
    }

    .listen-song__bottom-chat-bottom-sheet-header {
        position: relative;
        padding: 16px 0;
        text-align: center;
        border-bottom: 1px solid #dbdbdb;
    }

    .listen-song__bottom-chat-bottom-sheet-header-close {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        padding-left: 10px;
    }

    .listen-song__bottom-chat-bottom-sheet-header-icon {
        font-size: 24px;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment {
        height: 400px;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment::-webkit-scrollbar {
        display: none;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment-item {
        padding: 16px;
        column-gap: 16px;
        font-size: 13px;
        display: flex;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment-account-avatar {
        width: 36px;
        height: 36px;
        border-radius: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment-item-right {
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        width: 100%;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment-item-info {
        display: flex;
        align-items: center;
        column-gap: 16px;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment-desc {
        flex: 1;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment-account-name {
        font-weight: bold;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment-favorite {
        display: flex;
        align-items: center;
        column-gap: 6px;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment-favorite-quanlity {
        font-size: 12px;
    }

    .listen-song__bottom-chat-bottom-sheet-body-comment-item-footer {
        display: flex;
        column-gap: 20px;
    }

    .listen-song__bottom-chat-bottom-sheet-comment {
        padding: 8px 12px;
        display: flex;
        align-items: center;
        border-top: 1px solid #dbdbdb;
        column-gap: 10px;
    }

    .listen-song__bottom-chat-bottom-sheet-comment-avatar {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .listen-song__bottom-chat-bottom-sheet-comment-box {
        flex: 1;
        height: 36px;
    }

    .listen-song__bottom-chat-bottom-sheet-comment-input {
        width: 100%;
        height: 100%;
        padding-left: 12px;
        border: none;
        outline: none;
        border: 1px solid #dbdbdb;
        border-radius: 40px;
        font-family: 'Poppins', sans-serif;
    }

    .listen-song__bottom-chat-bottom-sheet-comment-input:focus {
        border: 1px solid #999;
    }

    .listen-song__bottom-add-playlist-bottom-sheet-overlay.show {
        display: block;
    }

    .listen-song__bottom-add-playlist-bottom-sheet-container.show {
        transform: translateY(0);
    }

    .listen-song__bottom-add-playlist-bottom-sheet-header {
        padding: 12px 0;
        margin: 0 20px;
        text-align: center;
        font-weight: bold;
        border-bottom: 1px solid #dbdbdb;
    }

    .listen-song__bottom-add-playlist-bottom-sheet-search {
        margin: 16px 20px;
        padding: 0 12px;
        height: 30px;
        border-radius: 40px;
        background-color: #ebebeb;
        display: flex;
        column-gap: 14px;
        align-items: center;
    }

    .listen-song__bottom-add-playlist-bottom-sheet-search-icon {
        font-size: 20px;
    }

    .listen-song__bottom-add-playlist-bottom-sheet-search-input {
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
        font-family: 'Poppins', sans-serif;
        background-color: #ebebeb;
    }

    .listen-song__bottom-add-playlist-bottom-sheet-add {
        padding: 0 20px 40px;
        display: flex;
        align-items: center;
        column-gap: 12px;
    }

    .listen-song__bottom-add-playlist-bottom-sheet-add-box {
        height: 60px;
        width: 60px;
        border-radius: 4px;
        background-color: #e6e7eb;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .listen-song__bottom-add-playlist-bottom-sheet-add-icon {
        font-size: 24px;
    }

    .listen-song__bottom-playlist-modal {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e8e7ee99;
        backdrop-filter: blur(30px);
        transform: translateX(100%);
        transition: all .3s ease;
    }

    .listen-song__bottom-playlist-modal.open {
        transform: translateX(0);
    }

    .listen-song__bottom-playlist-modal-header {
        padding: 16px 20px;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }

    .listen-song__bottom-playlist-modal-header-icon {
        font-size: 24px;
        padding-right: 10px;
        cursor: pointer;
    }

    .listen-song__bottom-playlist-modal-header {
        font-weight: bold;
    }

    .listen-song__bottom-playlist-modal-song-item {
        display: flex;
        margin: 0 10px;
        padding: 10px;
        align-items: center;
        column-gap: 12px;
    }

    .listen-song__bottom-playlist-modal-song-item.playing {
        background-color: #e8e7ee99;
        border-radius: 4px;
    }

    .listen-song__bottom-playlist-modal-song-item-img {
        width: 50px;
        height: 50px;
        border-radius: 4px;
    }

    .listen-song__bottom-playlist-modal-song-item-ware {
        width: 30px;
        height: 30px;
        display: flex;
        align-items: flex-end;
        margin-bottom: 10px;
    }

    .listen-song__bottom-playlist-modal-song-item-ware-item {
        width: 3px;
        height: 10px;
        margin-right: 3px;
        background-color: var(--text-color);
        animation: unset;
    }

    .listen-song__bottom-playlist-modal-item-info {
        flex: 1;
    }

    .listen-song__bottom-playlist-modal-song-item-info-name {
        height: 20px;
        line-height: 20px;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .listen-song__bottom-playlist-modal-song-item-info-artist {
        font-size: 13px;
        color: #ebebeb;
    }

    .listen-song__bottom-playlist-modal-song-item-ware .listen-song__bottom-playlist-modal-song-item-ware-item:nth-child(2) {
        height: 13px;
        animation-delay: .4s;
    }

    .listen-song__bottom-playlist-modal-song-item-ware .listen-song__bottom-playlist-modal-song-item-ware-item:nth-child(3) {
        height: 8px;
        animation-delay: .8s;
    }

    .active .listen-song__bottom-playlist-modal-song-item-ware-item {
        animation: wareAnm .5s linear infinite;
    }

    @keyframes wareAnm {
        0% {
            height: 10px;
        }
        50% {
            height: 15px;
        }
        100% {
            height: 10px;
        }
    }
}